:root {
  --ifm-color-primary: #425dd9;
  --ifm-color-primary-dark: #2b49d4;
  --ifm-color-primary-darker: #2845c8;
  --ifm-color-primary-darkest: #2139a5;
  --ifm-color-primary-light: #5a71de;
  --ifm-color-primary-lighter: #657be0;
  --ifm-color-primary-lightest: #899ae7;
  --ifm-background-color: #f5f5ff;
}

[data-theme='dark'] {
  --ifm-color-primary: #6980e4;
  --ifm-color-primary-dark: #4d68df;
  --ifm-color-primary-darker: #3f5cdc;
  --ifm-color-primary-darkest: #2442c6;
  --ifm-color-primary-light: #8598e9;
  --ifm-color-primary-lighter: #93a4ec;
  --ifm-color-primary-lightest: #bec8f3;
}